body {
	background-color: 	#87CEFA !important;
}
	.cabecalho , .corpo {
	
	margin: auto;
	text-align: center;
	border-style:none;

	width: 700px;
	margin-bottom: 15px;
	
	}
	.corpo {
		margin: auto;
	}

	.centro {
		text-align: center;
	}

.corpo { background-color: #ffffff;
		height: 900px;
		border-radius: 10px;
		 margin-top: 20px;
		 }

input {
	color: red !important;
	height: 40px;
	width: 300px;
	text-align: center;
	size: 12px;
}

left {

	float: left;
	
}

.left {

	float: right;
	
}
.afastar {
	margin-right: 25% !important;
	
}
.unir {
	display: inline;

}

.clean{clear:both;}

	
.Enviar {
		margin: 15px;
		width: 450px;
		margin-left: 125px;
	}
	
	span > h2 {
		color:red;
	}
	
.left {
	display: inline;
		margin-bottom: 5px !important;
	
}

.esp {

	margin-left: 0 !important;
}

h3 > span {
		
		text-align: left !important;
	}

span > input {

		color: red !important;
		text-align: center;
			size: 18px !important;
	}

table th, td{
	border-style: solid !important;
	text-align: center;
	color: red;
	border-color: black;
	width: 40px !important;
	font-size: 18px;

}

table {
	margin: auto;
}

th {
	color: green !important;
}

h2 {
    color:red;
    
}